@model  TalkApplication.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string value = TempData["LoggedOff"] as string;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to ATalk!</title>
</head>
<body>
    <div class="welcome-page">
        <h1> Welcome to ATALK</h1>
        <br>
    </div>

    <div class="login-card">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Authentication", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>Log-in</h1><br>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Username", @name = "user" } })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { htmlAttributes = new { @class = "col-md-2 control-label", @name = "pass", @placeholder = "Enter your password" } })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" name="Login" value="Let me in" class="login login-submit" />
                    </div>
                </div>

                <div class="login-help">
                    @Html.ActionLink("Register | ", "Create", "User", null, null)
                    @Html.ActionLink("Forgot Password", "Forgot", "User", null, null)
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <center>
                            <label class="label-success"> @ViewBag.Success</label>
                        </center>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <center>
                            <label class="label-error"> @ViewBag.Error</label>
                        </center>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <center>
                            <label class="label-success"> @value</label>
                        </center>
                    </div>
                </div>
            }
        </section>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}